/* variable */
/* end variable */
.heiti {
  font-family: "黑体", sans-serif;
}
.yahei {
  font-family: "Microsoft YaHei", sans-serif;
}
.white {
  color: #fafafa;
}
.black {
  color: #000000;
}
.green {
  color: #29b078;
}
.gray {
  color: #afafaf;
}
.blue {
  color: #29bde0;
}
.red-yellow {
  color: #ff650e;
}
.font-xs {
  font-size: 0.112rem;
}
.font-s {
  font-size: 0.14rem;
}
.font-nomal {
  font-size: 0.168rem;
}
.font-l {
  font-size: 0.182rem;
}
.font-xl {
  font-size: 0.21rem;
}
.font-xxl {
  font-size: 0.35rem;
}
.font-xxxl {
  font-size: 0.56rem;
}
.line-height-s {
  line-height: 0.14rem;
}
.line-height-nomal {
  line-height: 0.21rem;
}
.line-height-l {
  line-height: 0.28rem;
}
