@background-color:#29bde0;
@color-white: #ffffff;
@color-gray:#999999;
@color-yellow:#ffcc33;
@btn-color-red:#f66f6f;
@color-vote-name:#ffcc66;
@header-height: .7rem;
@max-width:6.4rem;
@height:1rem;
@font-size:.2rem;
@row-margin:.3rem;
body{
  padding-bottom: @height;
}

main{
  .main-warp{
    position: relative;
    margin: 0 auto;
    max-width: @max-width;width: 100%;
    ;background: #f0f0f0;text-align: center;
    .date{
      display: none;
      margin-top: @height*.2;
      height: @height*.6;max-width: @max-width;width: 90%;
      background: #e4e4e4;
      background-image: url("/js/img/down.png");background-repeat: no-repeat;
      background-position:  98% 50% ;
      outline: none;
    }
      .date-btn{
        position: absolute;right: 6%;top:  @height*.5;transform: translateY(-50%);
        outline: none;
        background-image: url("/js/img/down.png");background-repeat: no-repeat;
        height: @height*.17;width: @height*.3;
        &:active{          background: @color-gray;
        }
        & img{
          width: 80%;height: 80%;
        }
      }
    .text{
      float: right;
      margin: @height*.1 @height*.4 @height*.1 0;
      display: none;
      height: @height*.4;
      line-height: @height*.4;
      width: 50%;
      background: #c5c5c5;
    }
    .img-night{
      float: left;
      margin: @height*.15 0 0  @height;
      width: @height*.3;
      height: @height*.3;
    }
    .img-light{
      float: left;
      margin: 0 0 0  @height;
      width: @height*.3;
      height: @height*.3;
    }
    .line1{
      width: 0;
      height: @height*.15;
      margin: 0 @height 0  @height*1.15;
    }
    .line2{
     width: 0;
      height: @height*1.075;
      margin: 0 @height 0  @height*1.15;
    }
    .line-left{
      float: left;
    }

    .triangle1{display:inline-block;position:absolute;top: -@height*.32;right: 50%;width: 0;height: 0;
      border:  @height*.15;border-style: solid;
      transform: translateX(50%);
    }
    .triangle_1{
      border-color: transparent transparent  #8fc6d5 transparent;
    }
    .triangle2{display:inline-block;position:absolute;
      top: @height*.15;right: @height*3.43;width: 0;height: 0;
      border:  @height*.15;border-style: solid;
      transform: translateX(50%);
    }
    .triangle3{display:inline-block;position:absolute;
      top: @height*.7;right: @height*3.43;width: 0;height: 0;
      border:  @height*.15;border-style: solid;
      transform: translateX(50%);
    }

    .triangle4{display:inline-block;position:absolute;
      top: @height*.35;right: @height*3.43;width: 0;height: 0;
      border:  @height*.15;border-style: solid;
      transform: translateX(50%);
    }
    .triangle4{display:inline-block;position:absolute;
      top: @height*.45;right: @height*3.43;width: 0;height: 0;
      border:  @height*.15;border-style: solid;
      transform: translateX(50%);
    }
    .triangle_2{
      border-color: transparent #3db0ce transparent transparent;
    }

    .step{
      display: none;
      position: relative;
      margin-top: @height*.2;
      max-width: @max-width;width: 90%;
      background: @color-white;
      .step-btn{
        float: right;
        margin: @height*.1 @height*.4 0 0;
        height: @height*.4;
        width: 50%;
        outline: none;
        color: white;
        background: #3db0ce;
      }
    }
    .result-img{
      border-top:.01rem solid #99dff0 ;
      & img{
        padding-top: @height*.2;
        width: @height*2.1;
      }
    }
    .result-text{
      width: 90%;margin: 0 auto;padding-bottom: @height*.2;
      font-size: @font-size;color: @color-yellow;text-align: left;
    }
    .statistics{
      width: 90%;margin: 0 auto;padding-bottom: @height*.2;
      font-size: @font-size*.8;line-height:@font-size*1.2 ;
      color: @color-white;text-align: left;
    }
    .detail{
      width: 100%;
      font-size: @font-size*.8;line-height:@font-size*1.5 ;
      color: @color-gray;text-align: left;
      background: @color-white;
      border-bottom: .01rem solid @color-gray;
      & div{
        width: 90%;margin: 0 auto;
        & div{
          margin: 0;
        & span{
          display: inline-block;margin: 0;
        }
      }
      }
    }
  }
}

.footer-warp{
  background: rgba(41,189,224,0.7)
}
  .footer-btn-left{
    margin: @height*.2;
    height: @height*.6;width: 35%;
    color: @color-white;font-size: @font-size;
    background: @btn-color-red;
  }
  .footer-btn-right{
    .footer-btn-left;color: @color-yellow;
  }

