body {
  padding-bottom: 1rem;
}
main .main-warp {
  margin: 0 auto;
  max-width: 6.4rem;
  width: 100%;
  background: #29bde0;
  text-align: center;
}
main .main-warp .result-img {
  border-top: .01rem solid #99dff0 ;
}
main .main-warp .result-img img {
  padding-top: 0.2rem;
  width: 2.1rem;
}
main .main-warp .result-text {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 0.2rem;
  font-size: 0.2rem;
  color: #ffcc33;
  text-align: left;
}
main .main-warp .statistics {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 0.2rem;
  font-size: 0.16rem;
  line-height: 0.24rem;
  color: #ffffff;
  text-align: left;
}
main .main-warp .detail {
  width: 100%;
  font-size: 0.16rem;
  line-height: 0.3rem;
  color: #999999;
  text-align: left;
  background: #ffffff;
  border-bottom: 0.01rem solid #999999;
}
main .main-warp .detail div {
  width: 90%;
  margin: 0 auto;
}
main .main-warp .detail div div {
  margin: 0;
}
main .main-warp .detail div div span {
  display: inline-block;
  margin: 0;
}
.footer-warp {
  background: rgba(41, 189, 224, 0.7);
}
.footer-btn-left {
  margin: 0.2rem;
  height: 0.6rem;
  width: 35%;
  color: #ffffff;
  font-size: 0.2rem;
  background: #f66f6f;
}
.footer-btn-right {
  margin: 0.2rem;
  height: 0.6rem;
  width: 35%;
  color: #ffffff;
  font-size: 0.2rem;
  background: #f66f6f;
  color: #ffcc33;
}
