

    <div class="main-warp" ng-controller="myctrl">
    <div class="tittle-detail borderline-solid">
        <div class="col-xs-3 font-nomal heiti">
        标题 <input type="text" value="">
    </div>
        <div class="col-xs-3 font-nomal heiti">
            创建者 <input type="text" value="">
        </div>
        <div class="col-xs-6 font-nomal heiti">
            创建时间&nbsp;
            <input type="date">

            -
            <input type="date">
        </div>
        <div class="col-xs-3 font-nomal heiti">
            状态
            <select class="control" >
                <option>草稿</option>
                <option>上线</option>
            </select>
        </div>
        <div class="col-xs-3 font-nomal heiti">
            类型&nbsp;&nbsp;
            <select class="control" >
                <option>首页Banner</option>
                <option>找精英Banner</option>
                <option>找职位Banner</option>
                <option>行业大图</option>
            </select>
        </div>
        <button type="button" class="clear btn btn-sm borderline-solid">清空</button>
        <button type="button" class="search btn btn-sm borderline-solid">搜索</button>
    </div>
    <div class="content">
        <div class="panel">
            <div class="content-head panel-heading white">内容列表
                <button type="button" class="content-btn btn"><a href="#/add"> 新增</a></button> </div>
            <div class="panel-body ">
                <ul class="list-group " >
                    <li class="list-group-item list-tittle  reset-ul">
                        <div class="col-xs-1 heiti font-s center reset-ul">ID</div>
                        <div class="col-xs-2 heiti font-s center reset-ul">名称</div>
                        <div class="col-xs-2 heiti font-s center reset-ul">类型</div>
                        <div class="col-xs-1 heiti font-s center reset-ul">发布时间</div>
                        <div class="col-xs-1 heiti font-s center reset-ul">修改时间</div>
                        <div class="col-xs-1 heiti font-s center reset-ul">发布者</div>
                        <div class="col-xs-1 heiti font-s center reset-ul">状态</div>
                        <div class="col-xs-3 heiti font-s center reset-ul">操作</div>
                    </li>
                    </ul>
                <ul class="col-xs-1 heiti font-s center reset-ul">
                    <li class=" reset-li  "  ng-repeat="x in a track by $index| limitTo：5" >{{x.id}}
                    </li>
                </ul>
                <ul class="col-xs-2 heiti font-s center reset-ul">
                    <li class=" reset-li"  ng-repeat="x in a track by $index| limitTo：5" >{{x.title}}
                    </li>
                </ul>
                <ul class="col-xs-2 heiti font-s center reset-ul">
                    <li class=" reset-li"  ng-repeat="x in a track by $index| limitTo：5" >{{x.type}}
                    </li>
                </ul>
                <ul class="col-xs-1 heiti font-s center reset-ul">
                <li class=" reset-li"  ng-repeat="x in a track by $index" >{{x.createAt| date:'yyyy-MM-dd HH:mm:ss' }}
                </li>
                </ul>
                <ul class="col-xs-1 heiti font-s center reset-ul">
                <li class=" reset-li"  ng-repeat="x in a track by $index" >{{x.updateAt| date:'yyyy-MM-dd HH:mm:ss' }}
                </li>
                </ul>
                <ul class="col-xs-1 heiti font-s center reset-ul">
                    <li class=" reset-li"  ng-repeat="x in a track by $index" >{{x.author}}
                    </li>
                </ul>
                <ul class="col-xs-1 heiti font-s center reset-ul">
                    <li class=" reset-li"  ng-repeat="x in a track by $index" >{{x.status}}
                    </li>
                </ul>
                <ul class="col-xs-3 heiti font-s center reset-ul">
                    <li class=" reset-li" ng-repeat="z in b track by $index">
                       <a href="#"> {{z.a}} </a>&nbsp;&nbsp;&nbsp;<a href="#"> {{z.b}} </a>&nbsp;&nbsp;&nbsp; <a href="#"> {{z.c}} </a>
                    </li>
                </ul>


            </div>
        </div>
    </div>
    </div>